*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
neo4j-spatial.zip

# neo4j database of the dummy app
spec/dummy-rails4/db/neo4j
spec/dummy-rails3/db/neo4j
spec/dummy-rails4/neo4j
spec/dummy-rails3/neo4j